body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    height: 100vh;
    width: 100%;

}

.container {
    /* margin-top: auto;
    margin-bottom: auto; */
    /* width: 100hv; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}



.dashboard {
    display: flex;
    width: auto;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    height: 100hv;
    margin-bottom: 32px;
}

.card-container {
    margin: 5px;
    padding: 12px;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    /* gap: 1em; */
    background-color: lightgray;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.contacts-header {
    display: flex;
}

.contacts-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;

}

.contact {
    padding-left: 32px;
}

.form-container {
    height: 100hv;
    width: 70%;
    margin: 20px;
    margin-top: 40px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 16px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;  
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=password], input[type=number] {
    width: 80%;
    height: 30px;
    font-size: 16px;
    margin: 8px;
}

input {
    border-radius: 8px;
}

input[type=number] {
    width: 80%;
    height: 30px;
    font-size: 16px;
    margin: 8px;
    margin-right: auto;
}

select {
    width: 80%;
    height: 30px;
    font-size: 16px;
    margin: 8px;
    margin-right: auto;
}

input[type=submit] {
    margin: 12px;
    width: 7em;
    height: 3em;
    background-color: teal;
    color: white;
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

    scale: 50%;
}

h1 {
        font-size: 50px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        color: teal;
        justify-content: center;
        align-items: center;

}

label {
    white-space: pre;
}

.space {
    width: 32%;
}

.nav-button {
    display: flex;
    justify-content: center;
    width: auto;
    height: 3em;
    color: teal;
    background-color: transparent;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 10px; */
    margin-left: 24px;
    margin-right: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: start;
}

.nav-header {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(245, 245, 245, 0.72);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 9px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    width: 100hv;
    min-height: 10em;
    background-color: teal;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 30px;
}

.credits {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.cards-loader {
    border: 12px solid white;
    border-radius: 50%;
    border-top: 12px solid teal;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .logs-container {
    width: 50%;
    height: 100vh;
    border: 5px;
    justify-content: center;
  }

  .log{
    padding-left: 32px;
    padding-right: 10px;
    font-family: monospace;
  }

  .delete-logs {
    margin: 12px;
    width: 7em;
    height: 3em;
    background-color: crimson;
    color: white;
    border-radius: 8px;
  }

  .banner {
    aspect-ratio: 16 / 9;
    margin-bottom: 20px;
  }

  .login-register {
    background-color: teal;
    margin: 2em;
    padding: 4em;
  }

.nav-button:hover {
    color: coral;
}

.featured-container {
    display: flex;
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: space-between;
}

.featured-img {
    height: 64px;
    ;
}
